{% extends 'base.html' %}

{% block main_content %}

<div class="container">
    <div class="jumbotron ">
           <h1 class="display-2">Welcome, {{user.username}}</h1>
        <hr class="my-4">
        <h1 class="display-4">How To Use:</h1>
        <p class="lead">
            There are 2 main components of this website
            <ul class="list-inline ">
              <li class="list-inline-item">Groups</li>
              <li class="list-inline-item">Posts</li>
            </ul>

        </p>

    </div>

</div>

{% endblock %}